.App {
  text-align: center;
}

.icon {
  background-image: url(./img/icon.png);
  width: 60px;
  height: 60px;
  background-size: cover;
  display: inline-block;
  margin-left: 5vw;
}
.navbar {
  background-color: rgb(43, 43, 43);
  height: 9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navbar h2 {
  display: inline-block;
  color: rgba(255, 255, 255, 0.788);
  margin: 0px;
  margin-left: 20vw;
}
#leageteambuilder {
  margin-left: 0px;
}
