* {
  color: aliceblue;
}

.lol-style {
  color: #fc0;
  border: 1px solid yellow;
  background-color: rgb(20, 25, 46);
  border-radius: 5px;
  padding: 10px;
}

body {
  background-image: url(./img//back.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.test {
  border: 4px solid yellow;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  /* height: 100vh; */
}

.icon {
  background-image: url(./img/icon.png);
  width: 60px;
  height: 60px;
  background-size: cover;
  display: inline-block;
  margin-left: 5vw;
}

.navbar {
  background-color: rgb(27, 26, 53);
  height: 11vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.navbar h3 {
  display: inline-block;
  color: aliceblue;
  margin: 0px;
  margin-left: 10vw;
}

.championmain {
}

.allchamcontain {
  width: 80vw;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  /* grid-column-gap: 10px; */
}

.eachcham {
  height: 300px;
  width: 200px;
  background-size: cover;
  margin-top: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.eachcham:hover {
  /* background-color: aquamarine; */
  border: 2px solid rgba(255, 255, 0, 0.473);
}

.championdetailmain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  margin-top: 130px;
}

.champinfo {
  width: 500px;
  height: 400px;
  text-align: left;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
}

.champfull {
  width: 500px;
  height: 300px;
  background-size: cover;
}

.teamtop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: rgba(20, 25, 46, 0.685); */
}
.topmain {
  background-color: rgba(20, 25, 46, 0.685);
  border-radius: 10px;
  padding: 20px;
}

.teamchamp {
  width: 100px;
  width: 100px;
  border-radius: 200px;
  border: 3px solid rgb(201, 201, 201);
}

.teambottom {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin-top: 40px;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around; */
}

.eachicon {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.eachicon:hover {
  border: 2px solid rgba(255, 255, 0, 0.575);
}
/* showteam/------------------------------ */
.eachteam {
  width: 70vw;
  height: 300px;
  border: rgba(233, 233, 224, 0.384) 2px solid;
  background-color: rgba(20, 25, 46, 0.685);
}

.teamicons {
  margin: auto 10px;
}

#leageteambuilder {
  margin-left: 0px;
}
